<section>
  <div >
    <div >
      <img src=<%= @user.Photo %> alt="image">
    </div>

    <div>
      <h2><%= @user.Name %></h2>
        <p>
        <span>Number of posts: </span>
        <%= @user.PostsCounter || 0 %>
        </p>
    </div>
  </div>

  <div>
    <h4> Bio </h4>
    <p>
      <%= @user.Bio %>
    </p>
  </div>

  <div>
    <% @user.recent_posts.each do |post|  %>
    <%= link_to user_post_path(@user, post.id) do %>
      <p>Post <% post.id %></p>
      <p><%= post.Text %></p>
      <p> 
        <span>
        Comments: <%= post.CommentsCounter || 0 %>,
        Likes: <%= post.LikesCounter || 0 %>
        </span>
      </p>
    <% end %>
    <% end %>
  </div>

  <button>
    <%= link_to "See all posts", user_posts_path(@user) %>
  </button>

<section>
